test/resources/xml/backend_schemas/common/disGatewayHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://gov.uk/customs/declarationVersionService/disGatewayHeader/v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gov.uk/customs/declarationVersionService/disGatewayHeader/v1"
	elementFormDefault="qualified" version="1.0">

	<xs:complexType name="disGatewayHeaderType">
		<xs:sequence>
			<xs:element name="conversationID" type="uuid" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique message ID generated by Digital</xs:documentation>
				</xs:annotation>
			</xs:element>				
			<xs:element name="receivedDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date/time request received by digital</xs:documentation>
				</xs:annotation>
			</xs:element>				
			<xs:element name="authenticatedPartyID" type="AuthenticatedPartyIDType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Authenticated Party ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originatingPartyID" type="OriginatingPartyIDType"	minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Originating Party ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AuthenticatedPartyIDType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OriginatingPartyIDType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="uuid">
		<xs:annotation>
			<xs:documentation>Must be a valid uuid</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36" />
			<xs:pattern value="[0-9a-fA-F]{32}|[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
		</xs:restriction>
	</xs:simpleType>	

</xs:schema>
